body{
    margin: 0px;
}
.fullsize{
    width: 100vw;
    height: 100vh;
}

#top{
    background-color: lightblue;
    z-index: 5;
}

#boat-top{
    height: 27.5vw;
    width: 89vw;
    position: absolute;
    top: calc(100vh - 27.5vw);
    left: 5vw;
    background: url(boat-top.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 5;
}

#bottom{
    position: relative;
    background-color: darkblue;
    z-index: 1;
    overflow: hidden;
}

#boat-bottom{
    height: 50vw;
    width: 76vw;
    position: absolute;
    left: 12vw;
    background: url(boat-bottom.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.line{
    height: 100vh;
    width: 1vw;
    background-color: black;
    position: absolute;
    top: 0vh;
    z-index: 3;
}

#first{
    left: 20vw;
    transition: top 0.3s ease;
}

#first:target{
    top: -55vh;
}

#boot{
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 200vh;
    left: 18vw;
    background: url(boot.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: top 0.3s ease;
    z-index: 5; 
}

#first:target ~ #boot{
    top: 35vh;
    opacity: 100;
}

#second{
    left: 40vw;
    transition: top 0.3s ease;
}

#second:target{
    top: -55vh;
}

#water-bottle{
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 200vh;
    left: 36vw;
    background: url(water-bottle.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: top 0.3s ease;
    transform: rotate(-25deg);
    z-index: 5; 
}

#second:target ~ #water-bottle{
    top: 33vh;
    opacity: 100;
}

#third{
    left: 60vw;
    transition: top 0.3s ease;
}

#third:target{
    top: -55vh;
}

#fish{
    height: 25vh;
    width: 20vw;
    position: absolute;
    top: 200vh;
    left: 54vw;
    background: url(fish.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: top 0.3s ease;
    z-index: 5; 
}

#third:target ~ #fish{
    top: 33vh;
    opacity: 100;
}

#fourth{
    left: 80vw;
    transition: top 0.3s ease;
}

#fourth:target{
    top: -55vh;
}

#chest{
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 200vh;
    left: 70vw;
    background: url(chest.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: top 0.3s ease;
    z-index: 5; 
}

#fourth:target ~ #chest{
    top: 35vh;
    opacity: 100;
}

#fisher1{
    height: 10vw;
    width: 10vw;
    position: absolute;
    top: calc(100vh - 22vw);
    left: 12vw;
    background: url(fisher.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#fisher1-line{
    height: 18vw;
    width: 1vw;
    top: calc(100vh - 18vw);
    left: 20vw;
    background-color: black;
    position: absolute;
    z-index: 8;
}

#fisher2{
    height: 10vw;
    width: 10vw;
    position: absolute;
    top: calc(100vh - 21vw);
    left: 32vw;
    background: url(fisher.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#fisher2-line{
    height: 18vw;
    width: 1vw;
    top: calc(100vh - 17vw);
    left: 40vw;
    background-color: black;
    position: absolute;
    z-index: 8;
}

#fisher3{
    height: 10vw;
    width: 10vw;
    position: absolute;
    top: calc(100vh - 21vw);
    left: 52vw;
    background: url(fisher.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 5;
}

#fisher3-line{
    height: 18vw;
    width: 1vw;
    top: calc(100vh - 17vw);
    left: 60vw;
    background-color: black;
    position: absolute;
    z-index: 8;
}

#fisher4{
    height: 10vw;
    width: 10vw;
    position: absolute;
    top: calc(100vh - 22vw);
    left: 72vw;
    background: url(fisher.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#fisher4-line{
    height: 18vw;
    width: 1vw;
    top: calc(100vh - 18vw);
    left: 80vw;
    background-color: black;
    position: absolute;
    z-index: 8;
}