@font-face {
    font-family: Bebas;
    src: url(BebasNeue-Regular.ttf);
}

body{
    background-color: #903df5;
    margin: 0;
}

a{
    text-decoration: none;
    text-align: center;
}

.Name{
    font-family: Bebas;
    font-size: 27.7vw;
    color: rgba(255, 255, 255, 0.8);
    margin: -1.29vw;
}

#NameWrapper{
    display: flex;
    justify-content: flex-start;
    padding-left: 1.5vw;
    margin-top: 10vw;
    /* height: 100vh; */
}

#J:hover{
    scale: 1.7;
    transform: rotate(-10deg);
    transition: transform .1s ease-in-out;
}

#H:hover{
    scale: 1.5;
    transform: rotate(20deg);
    transition: transform .1s ease-in-out;
}

#A:hover{
    scale: .7;
    transform: rotate(-10deg);
    transition: transform .1s ease-in-out;
}

#U:hover{
    scale: 1.5;
    transform: rotate(30deg);
    transition: transform .2s ease-in-out;
}

#G:hover{
    scale: 1.5;
    transform: rotate(400deg);
    transition: transform .7s ease-in-out;
}

#H2:hover{
    scale: .5;
    transform: rotate(-30deg);
    transition: transform .1s ease-in-out;
}

#A2:hover{
    scale: 1.5;
    transform: rotate(20deg);
    transition: transform .1s ease-in-out;
}

#N:hover{
    scale: .85;
    transform: rotate(-20deg);
    transition: transform .1s ease-in-out;
}
#E:hover{
    scale: 1.2;
    transform: rotate(20deg);
    transition: transform .1s ease-in-out;
}
#S:hover{
    scale: 1.5;
    transform: rotate(340deg);
    transition: transform .6s ease-in-out;
}
#S2:hover{
    scale: .5;
    transform: rotate(-10deg);
    transition: transform .1s ease-in-out;
}
#Y:hover{
    scale: 1.8;
    transform: rotate(-20deg);
    transition: transform .1s ease-in-out;
}

.sectors{
    font-family: Bebas;
    font-size: 15vw;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: -.78vw;
    text-align: center;
    margin-top: 15vw;
}

#sectors2{
    margin-top: -4vw;
}

.title{
    font-family: Bebas;
    font-size: 3vw;
    color: #903df5; 
    text-align: center;
    letter-spacing: .15vw;
}

.pic{
    height: 10vw;
    width:15vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    border-radius: 1vw 1vw 0vw 0vw;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: .25vw;
}

#SectionWrapper{
    display: flex;
    justify-content: flex-start;
    padding-left: 14.5vw; 
    margin-top: -24vw;
}

.A1Wrapper{
    height: 15vw;
    width: 17vw;
    background-color: white;
    border-radius: 1vw;
    margin-left: 5.5vw;

}

.white{
    transition: 500ms;
    height: 400vh;
    width: 100vw;
    top: 0vw;
    background-color: rgba(255, 255, 255, .5);
    z-index: -10;
    position: absolute;
    opacity: 0;
    margin: -15vw;
}

.A1Wrapper:hover ~ .white{
    opacity: 1;
}

.A1Wrapper:hover{
    background-color: #903df5;
}

h1{
    font-size: 3vw;
    margin-top: -1vw;
    font-family: bebas;
    color: #903df5;
}

h3{
    font-size: 15vw;
    margin: 5vw;
    text-align: center;
    font-family: bebas;
    color: white;
}

h4{
    font-size: 5vw;
    margin: 5vw;
    text-align: center;
    font-family: bebas;
    color: #903df5;
    background-color: white;
}

p{
    font-size: 2vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: -2vw;
    color:white;
}

h5{
    font-size: 2vw;
    margin-top: -2vw;
    margin-left: 5vw;
    font-family: bebas;
    color: white;
    position: absolute;
}

#space{
    height: 10vw;
    width: 100vw;
    position: absolute;
}


/* Assignments */

.Info{
    width: 70vw;
    text-align: center;
    font-size: 1.5vw;
    background-color: white;
    opacity: 0;
    margin-left: .5vw;
    padding: 2vw;
    position: absolute;
    margin-top: 10vw;
    transition: .3s ease-out;
}


#S1A1{
    background-image: url(S1A1.png);
}


#S1A1Wrapper:hover + #S1A1Info{
    opacity: 1;
    transition: .3s ease-in;
}

#S1A2{
    background-image: url(S1A2.png);
}

#S1A2Wrapper:hover + #S1A2Info{
    opacity: 1;
    transition: .3s ease-in;
}

#S1A3{
    background-image: url(S1A3.png);
}

#S1A3Wrapper:hover + #S1A3Info{
    opacity: 1;
    transition: .3s ease-in;
}

#S2A1{
    background-image: url(S2A1.png);
}

#S2A1Wrapper:hover + #S2A1Info{
    opacity: 1;
    transition: .3s ease-in;
}

#S2A2{
    background-image: url(S2A2.png);
}

#S2A2Wrapper:hover + #S2A2Info{
    opacity: 1;
    transition: .3s ease-in;
}

#S2A3{
    background-image: url(S2A3.png);
}

#S2A3Wrapper:hover + #S2A3Info{
    opacity: 1;
    transition: .3s ease-in;
}

#S3A1{
    background-image: url(S3A1.png);
}

#S3A1Wrapper:hover + #S3A1Info{
    opacity: 1;
    transition: .3s ease-in;
}

#S3A2{
    background-image: url(S3A2.png);
}

#S3A2Wrapper:hover + #S3A2Info{
    opacity: 1;
    transition: .3s ease-in;
}

#S3A3{
    background-image: url(S3A3.png);
}
#S3A3Wrapper:hover + #S3A3Info{
    opacity: 1;
    transition: .3s ease-in;
}

#responses{
    font-family: Bebas;
    font-size: 22vw;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: -.78vw;
    text-align: center;
    margin-top: 30vw;
    margin-left: 1.5vw;
    position: absolute;
}

#responses:hover{
    color: white;
}
